@charset "utf-8";

h1{
    color:cadetblue;
    padding-left: 16px;
    border-left: 16px solid #31a8ee;
    border-bottom: 2px dashed #31a9ee;
}

body {
font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic',monospace;
  cursor: url('cursor.svg') 0 0, auto;
}

#headTitle{
  animation: fadeIn 0.7s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}

#gameVideos {
    display: flex;
    flex-wrap: wrap;       /* 画面幅に合わせて自動で折り返す */
    justify-content: center;/* 中央揃えにする */
    gap: 20px;             /* 動画同士の隙間（好みに合わせて変更可能） */
    max-width: 100%;
    margin: 0 auto;        /* 全体を画面中央に寄せる */
  }

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
 @keyframes slideIn {
  0% {
    transform: translateX(180px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
  }
  40%,100% {
    opacity: 1;
  }
}

 .icons {
  animation: popup 0.6s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}
 
@keyframes popup {
  0% {
    transform: translateY(40px) scale(0.8);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scale(1.0);
  }
  80%, 100% {
    opacity: 1;
  }
}
#welcomeToDarkWeb{
    animation: fadeIn 0.7s cubic-bezier(0.33, 1, 0.68, 1) forwards;
  height:32px;
  font-size: 24px;
  text-align:center;
  border-radius: 8px;
  color : white;
  font-weight: 1000;
  background-color: rgb(168, 168, 168);
}
.icons img{
  width :64px;
  border-radius: 8px;
}
#iconLinks{
    text-align:right;
    padding-top: 8px;
    border-radius: 32px;
    background-color: gray;
    height: 80px;
}

.backGround img{
  animation: slideIn 1s cubic-bezier(0.25, 1, 0.5, 1) forwards;
  width: 33%;
    border-radius: 32px;
}


#detailed_info{
 padding:16px;
 color:red;
}

.hint{
  font-size: 24px;
   font-weight:bolder;
}
